@import 'actiontext.css';
@import './pagy_nav.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* inputs */
label {
  @apply block text-gray-600 text-base mb-2;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
  @apply border border-gray-300 rounded-md;
  @apply focus:outline-none focus:border-blue-500;
  @apply block w-full sm:text-sm border-gray-300 rounded-md;
}

select {
  @apply block w-full sm:text-sm border-gray-300 rounded-md;
}

textarea {
  width: 100%;
}

input[type="checkbox"] {
  @apply rounded border-gray-300 text-blue-500 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.select {
  border: none;
  border-radius: 5px;
  width: 100%;
}

/* css navbar */
.rotate-down {
  transform: rotate(0deg);
  transition: transform 0.7s ease;
}

.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

/* css index card */
.share-copy-item {
  background-color: #72689c;
  border-color: #72689c;
  padding: 5px;
  border-radius: 5px;
}
